@import url("https://use.typekit.net/rit0pba.css");

:root {
    --body-font: proxima-nova,Verdana,Geneva,sans-serif;
}

#header {
    height: 140px;
    position: relative;
    z-index: 10;
    padding-bottom: 22px;
    background: var(--ct_bg_header-logo) 20px 15px no-repeat !important;
}

#page-title {
    text-align:  center;
    color: #800;
    font-size: 40px;
}

#more-options-button  {
    background-color: rgb (157, 2, 4) !important;
}

#header h1{
	margin: 0;
	padding: 27px;
}

h1 {
    font-size:  40px;
    font-family: "Trebuchet MS";
}

#content-wrap a {
  color: #CF0000;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  transition: color .3s ease-out;
}

#content-wrap a:hover {
  color: #A10000;
  right: 0;
  text-decoration: none;
}

#content-wrap a:hover:after {
  border-color: #A10000;
  right: 0;
}

#content-wrap a:after {
  border-radius: 1em;
  border-top: .1em solid #CF0000;
  content: "";
  position: absolute;
    right: 100%;
    bottom: 0em;
    left: 0;
  transition: right .4s cubic-bezier(0,0.5,0,0.5),
              border-color .3s ease-out;
}

#content-wrap a:hover:after {
  right: 0;
}
